* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 40rem;
    margin: 50px auto;
}

header {
    border-bottom: 0.2rem solid black;
    padding-bottom: 10px;
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #a52717;
    margin: 0 10px;
}

a.logo {
    width: 356px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    text-align: center;
    color: #afafaf;
    font-size: 50%;
}

footer a {
    color: #999;
}

section.header {
    margin-top: 10px;
    text-align: right;
}

div.row {
    margin-bottom: 20px;
    padding: 0 20px;
    min-height: 200px;
}

img.left, img.right {
    width: 200px;
    height: 200px;
    display: block;
}

img.left {
    float: left;
    margin-right: 35px;
    margin-left: -20px;
}

img.right {
    float: right;
    margin-left: 35px;
    margin-right: -20px;
}

div.right {
    text-align: right;
}

div.right ul {
    list-style: none;
}

article img {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}

article figure {
    margin-top: 25px;
    margin-bottom: 25px;
}

article figure img {
    margin-top: 0;
    margin-bottom: 0;
}

article figcaption {
    text-align: center;
    margin-top: 8px;
    font-size: 9pt;
}

img.banner {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    image-rendering: crisp-edges;
}

article {
    font-size: 0.95rem;
    width: 120%;
    position: relative;
    left: -10%;
}

article p {
    line-height: 1.4;
    margin-top: 5px;
}

span.date {
    font-style: italic;
    color: #555;
}

article h1.post-title {
    font-size: 20pt;
    text-align: center;
}

article h1 {
    font-size: 15pt;
    margin-bottom: 0;
}

article h2 {
    font-size: 12pt;
    margin-bottom: 0;
}

pre {
    line-height: 1.25em;
    background-color: #f5f5f5;
    padding: 7px;
    border: 1px solid #aaa;
    overflow-x: scroll;
}

code {
    font-size: 0.95em;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #aaa;
    font-family: monospace;
}

pre code {
    padding: 0;
    border: none;
}

pre span {
    font-family: monospace;
    color: #222;
}

span.kw {
    font-weight: bold;
    color: black;
}

span.dt {
    font-style: italic;
    color: black;
}

span.op {
    color: grey;
}

span.ot {
    color: black;
    font-weight: bold;
}

span.co {
    font-style: italic;
    color: #aaa;
}

span.st {
    font-style: italic;
    color: #555;
}

span.fu {
    color: #161;
}
