<p>I'm a first-year computer science student at the University of Nottingham, and I'm especially interested in functional programming, programming language compilers, and computer graphics - my favourite languages are Haskell, Go, and C.</p>

<p>
  You can find a list of my (mostly unfinished) projects on <a href="https://github.com/zac-garby?tab=repositories">my GitHub.</a>
  If for any reason you want to contact me, my email is <a href="mailto:me@zacgarby.co.uk">me@zacgarby.co.uk</a>, or you can send me a message on discord (zacg#7868).
</p>

<p>
  <img width="120px" src="images/fsf.png" />
</p>
