<div class="rows">
  <div class="row">
    <img class="right" src="images/terrain.png" />
    <div> 
      <h2>Hello!</h2>
      
      <p>Welcome to my website</p>
      
      <p>This is just a place for me to put my blog, various programming things, and some other bits and pieces. Here are a few of my recent posts.</p>
      
      $partial("templates/post-list.html")$
      
      <p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
    </div>
  </div>
  <div class="row">
    <img class="left" src="images/fractal.png" />
    <div class="right">
      <p>
        <h2>JavaScript Things</h2>
      </p>

      <ul>
        $for(js)$
        <li>
          <a href="$dir$">$title$</a>
        </li>
        $endfor$
      </ul>
    </div>
  </div>
  <div class="row">
    <img class="right" src="images/charge.png" />
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat massa eget consequat gravida. Integer nec enim sollicitudin dolor molestie molestie. Suspendisse posuere eleifend tempor.
      </p>
      
      <p>
        Cras viverra, neque sit amet gravida varius, tellus metus porttitor urna, sed vestibulum ipsum purus a arcu. Curabitur a orci maximus, dictum sem vitae, aliquet neque.
      </p>
    </div>
  </div>
</div>

