<div class="rows">
  <div class="row">
    <img class="right" src="images/terrain.png" />
    <div> 
      <h2>Hello!</h2>
      
      <p>Welcome to my website</p>
      
      <p>This is just a place for me to put my blog, various programming things, and some other bits and pieces. Here are a few of my recent posts.</p>
      
      $partial("templates/post-list.html")$
      
      <p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
    </div>
  </div>
  <div class="row">
    <img class="left" src="images/fractal.png" />
    <div class="right">
      <h2>JavaScript Things</h2>

      <ul>
        $for(js)$
        <li>
          <a href="$dir$">$title$</a>
        </li>
        $endfor$
      </ul>
    </div>
  </div>
  <div class="row">
    <img class="right" src="images/charge.png" />
    <div>
      <h2>Links</h2>

      <ul>
        <li>
          <a href="mailto:me@zacgarby.co.uk">me@zacgarby.co.uk</a>
        </li>
        <li>
          <a href="https://github.com/zac-garby">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</div>

